.container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 176px;
  margin-left: 42px;
}

.result-card {
  position: relative;
  width: 292px;
  height: 170px;
  background: #9cb4bf;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  z-index: 3;
}

.result-title {
  position: absolute;
  width: 40%;
  left: -21px;
  top: 20px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  background: #004259;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.result-image {
  position: absolute;
  left: 168px;
  top: 17px;
  height: 100px;
  width: 100px;
  border: 1.5px solid #002635;
  object-fit: cover;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(7deg);
  padding: 5px;
  background-color: white;
}

.result-image:hover {
  transform: rotate(9deg);
}

.result-product {
  position: absolute;
  font-family: 'Roboto Condensed';
  color: #002635;
  font-size: 15px;
  font-weight: 400;
  top: 66px;
  left: 27px;
  width: 130px;
  line-height: 100%;
}

.result-country {
  position: absolute;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  color: #34687b;
  top: 105px;
  left: 27px;
}

.icon-favorite {
  position: absolute;
  right: 27px;
  top: 140px;
  font-size: 1.2em;
  color: #002635;
  cursor: pointer;
}

.icon-exit {
  position: absolute;
  left: 27px;
  top: 140px;
  font-size: 1.4em;
  color: #002635;
  cursor: pointer;
}

.icon-favorite:hover .icon-exit:hover {
  color: #34687b;
  transform: scale(1.05);
}

.no-favorites-message {
  position: absolute;
  width: 153px;
  height: 21px;
  left: 113px;
  top: 301px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #34687b;
}
